/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* color from style guide */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-filter-tablet: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: var(--Light-Grayish-Cyan-Background);
  color: var(--Dark-Grayish-Cyan);
}
.header {
  background-color: var(--Desaturated-Dark-Cyan);
  background-image: url(../images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 205px;
  margin-bottom: 50px;
}
.card {
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 375px;
  max-width: 90%;
  max-width: 500px;
  background-color: white;
  border-radius: 7px;
  padding: 5%;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.62);
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.62);
  overflow: hidden;
}
.card--border-left {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: var(--Desaturated-Dark-Cyan);
}
.card__img {
  position: absolute;
}
.card__img img {
  position: relative;
  width: 70%;
  top: -55px;
}
.cards__company {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}
.cards__company--title {
  color: var(--Desaturated-Dark-Cyan);
}
.cards__company span {
  padding: 7px 10px 4px 10px;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 0.8em;
}
.cards__company--new {
  background-color: var(--Desaturated-Dark-Cyan);
  margin: 0 15px;
}
.cards__company--featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
.cards__job-title h1 {
  font-size: 1.2rem;
  color: var(--Very-Dark-Grayish-Cyan);
}
.cards__post-info {
  display: flex;
  align-items: center;
}
.cards__post-info span {
  margin-right: 10px;
}
.cards__post-info--dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.card__seperator hr {
  margin: 15px 0;
  /* background-color: var(--Very-Dark-Grayish-Cyan); */
  border: 0.5px solid var(--Dark-Grayish-Cyan);
}
.card__tags span {
  background-color: var(--Light-Grayish-Cyan-Background);
  color: var(--Desaturated-Dark-Cyan);
  padding: 8px 10px;
  margin: 5px 10px 5px 0px;
  display: inline-block;
  font-weight: 700;
}

@media only screen and (min-width: 1100px) {
  .card__seperator hr {
    display: none;
  }
  .header {
    background-color: var(--Desaturated-Dark-Cyan);
    background-image: url(../images/bg-header-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    width: 100vw;
    height: 165px;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 80%;
    max-height: 200px;
    display: flex;
    align-items: center;
    padding: 2% 3%;
  }
  .card__img {
    position: static;
    min-width: 125px;
  }
  .card__img img {
    position: static;
    width: 100%;
  }
  .cards {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card__tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 800px;
  }
  .cards__company {
    margin-top: 0;
  }
}
