/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* color from style guide */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-filter-tablet: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
